*
 .main 
   {
     padding: 16px;
     margin-top: 30px;
     height: 1500px;
   }
    .nur1
  {
      background:linear-gradient(rgba(0,0,0,0.4), rgba(0,0,0,0.5)), url("plant.png");
      background-size: cover;
      box-sizing: border-box;
      font-family: sans-serif ;
      font-size: 30pt;
      text-align: left;
      color:white;
  }
  .nur2
  {
     background-color:/*#2C5E1A*/white;
      background-size: cover;
      box-sizing: border-box;
      font-family:optima  ;
      font-size: 14pt;
      text-align: justify;
      color:black;
  }
  .nur3
  {
     background-color:#2C5E1A;
      background-size: cover;
      box-sizing: border-box;
      font-family:optima  ;
      font-size: 14pt;
      text-align: justify;
      color:white;
  }
  .nur4
  {
     background-color:/*#2C5E1A*/white;
      background-size: cover;
      box-sizing: border-box;
      font-family:optima  ;
      font-size: 14pt;
      text-align: justify;
      color:black;
  }
  .nur5
  {
     background-color:#2C5E1A;
      background-size: cover;
      box-sizing: border-box;
      font-family:optima  ;
      font-size: 14pt;
      text-align: justify;
      color:white;
  }
   .nur6
  {
     background-color:/*#2C5E1A*/white;
      background-size: cover;
      box-sizing: border-box;
      font-family:optima  ;
      font-size: 14pt;
      text-align: justify;
      color:black;
  }